@font-face {
    font-family: '1dormakaba'; /* A name to use later */
    src: url('../../assets/fonts/1dormakaba-Regular.otf') format('opentype'); /* Path to your OTF font file */
}

// Variables
$primary-blue: #003594;
$primary-white: #ffffff;

// body
html, body
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: '1dormakaba', sans-serif;

    .header
    {
        height: 50px;
        background-color: $primary-blue;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a.home
        {
            margin-left: 50px;
            color: $primary-white;
            text-decoration: none;
        }

        .titlelogo
        {
            margin-right: 50px;

            img.logo
            {
                height: 18px;
                width: auto;
                color: $primary-white;
            }
        }
    }

    h1
    {
        margin-top: 30px;
        margin-left: 50px;
        font-size: 30px;
    }

    .editable {
        cursor: pointer;
        // Style as needed
    }

    table {
        margin: 20px 50px;
        width: calc(100% - 100px); // Adjust based on the margin
        border-collapse: collapse;
        border-radius: 5px;
        table-layout: fixed;

        th, td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: $primary-blue;
            color: $primary-white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .delete-button button {
            /* Styles for your delete button */
            padding: 5px 10px;
            margin: 0;
            border: 1px solid #ccc;
            background-color: #f44336;
            color: white;
            cursor: pointer;
        }
    }
}