@font-face {
    font-family: '1dormakaba'; /* A name to use later */
    src: url('../../assets/fonts/1dormakaba-Regular.otf') format('opentype'); /* Path to your OTF font file */
}

// Variables
$primary-blue: #003594;
$primary-red: #e62b2f;
$primary-white: #ffffff;

// body
html, body
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: '1dormakaba', sans-serif;

    .header
    {
        height: 50px;
        background-color: $primary-blue;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a.home
        {
            margin-left: 50px;
            color: $primary-white;
            text-decoration: none;
        }

        .titlelogo
        {
            margin-right: 50px;

            img.logo
            {
                height: 18px;
                width: auto;
                color: $primary-white;
            }
        }
    }

    h1
    {
        margin-top: 30px;
        margin-left: 50px;
        font-size: 30px;
    }

    table {
        margin: 20px 50px;
        margin-top: 30px;
        width: calc(100% - 100px); // Adjust based on the margin
        border-collapse: collapse;
        border-radius: 5px;
        table-layout: fixed;

        th, td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: $primary-blue;
            color: $primary-white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    }

    button.delete-button {
        background-color: $primary-red;
        border-color: $primary-red;
        color: $primary-white;
        padding: 7px 15px;
        border: 2px solid $primary-red;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s, color 0.3s; // Also transition color
        margin-right: 20px;

        &:hover {
            background-color: $primary-white;
            color: $primary-red;
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
}