@font-face {
    font-family: '1dormakaba'; /* A name to use later */
    src: url('../../assets/fonts/1dormakaba-Regular.otf') format('opentype'); /* Path to your OTF font file */
}

// Variables
$primary-blue: #003594;
$primary-white: #ffffff;

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: '1dormakaba', sans-serif;

    .header {
        height: 50px;
        background-color: $primary-blue;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a.home {
            margin-left: 50px;
            color: $primary-white;
            text-decoration: none;
        }

        .titlelogo {
            margin-right: 50px;

            img.logo {
                height: 18px;
                width: auto;
                color: $primary-white;
            }
        }
    }

    h1 {
        margin-top: 30px;
        margin-left: 50px;
        font-size: 30px;
    }

    .filters {
        display: flex;
        margin: 20px 50px;
        gap: 10px;

        input {
            border: 2px solid black;
            padding: 8px 10px;
            border-radius: 5px; // Rounded corners for inputs
            font-size: 16px; // Slightly larger font size for readability

            &:focus {
                outline: none; // Removes the default focus outline
                border-color: $primary-blue; // Highlight with primary color on focus
            }
        }

        button {
            background-color: $primary-blue;
            color: $primary-white;
            padding: 8px 15px;
            // blue border
            border: 2px solid $primary-blue;
            border-radius: 5px; // Consistent with inputs
            font-size: 16px;
            transition: background-color 0.3s; // Smooth transition for hover effect

            &:hover {
                background-color: $primary-white; // Darker shade on hover
                color: $primary-blue; // Text color change on hover
                cursor: pointer;
            }

            &:focus {
                outline: none; // Removes the default focus outline
            }
        }
    }

    table {
        margin: 20px 50px;
        width: calc(100% - 100px); // Adjust based on the margin
        border-collapse: collapse;

        th, td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: $primary-blue;
            color: $primary-white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    }
}
