@font-face {
    font-family: '1dormakaba'; /* A name to use later */
    src: url('../../assets/fonts/1dormakaba-Regular.otf') format('opentype'); /* Path to your OTF font file */
}

// Variables
$primary-blue: #003594;
$primary-white: #ffffff;
$primary-grey: #EEEEEE;

// body
html, body
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: '1dormakaba', sans-serif;
    min-height: 100vh;

    .header
    {
        height: 50px;
        background-color: $primary-blue;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a.home
        {
            margin-left: 50px;
            color: $primary-white;
            text-decoration: none;
        }

        .titlelogo
        {
            margin-right: 50px;

            img.logo
            {
                height: 18px;
                width: auto;
                color: $primary-white;
            }
        }
    }

    h1
    {
        margin-top: 30px;
        margin-left: 50px;
        font-size: 30px;
    }

    .pages
    {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        align-self: center;
        margin-top: 10%;

        // for every ELEMENT in pages
        a
        {
            color: black;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 18%;
            // calculate the height of the element
            height: 25vh;
            text-decoration: none;
            border-radius: 2vh;
            box-shadow: 0px 0px 15px 10px rgba($color: #313131, $alpha: 0.1);
            transition: all 0.3s ease;

            p
            {
                margin-top: auto;
                margin-bottom: 20px;
            }

            &:hover
            {
                transform: scale(1.05);
            }
        }
    }

    .footer
    {
        flex-shrink: 0;
        height: 30px;
        background-color: $primary-grey;
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items: center;
        margin-top: auto;

        p {
            margin-right: 50px;
            color: rgba(0, 0, 0, 0.7);
            text-decoration: none;
            font-weight: bold;
        }
    }
}