@font-face {
  font-family: "1dormakaba";
  src: url("../../assets/fonts/1dormakaba-Regular.otf") format("opentype");
}
html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "1dormakaba", sans-serif;
  min-height: 100vh;
}

.header {
  height: 50px;
  background-color: #003594;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .home {
  margin-left: 50px;
  color: #ffffff;
  text-decoration: none;
}
.header .titlelogo {
  margin-right: 50px;
}
.header .titlelogo .logo {
  height: 18px;
  width: auto;
}

h1 {
  margin-top: 30px;
  margin-left: 50px;
  font-size: 30px;
}

button#assignAccessButton {
  margin: 0 0 0 50px;
  width: 140px;
  background-color: #003594;
  color: #ffffff;
  padding: 7px 15px;
  border: 2px solid #003594;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}
button#assignAccessButton:hover {
  background-color: #ffffff;
  color: #003594;
  cursor: pointer;
}
button#assignAccessButton:focus {
  outline: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-container .close-modal-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

#assignAccessModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 270px;
}
#assignAccessModal .container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#assignAccessModal .container select {
  border: 2px solid black;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 30px;
  width: 200px;
}
#assignAccessModal .container select:focus {
  outline: none;
  border-color: #003594;
}
#assignAccessModal .container button {
  background-color: #4CAF50;
  color: #ffffff;
  padding: 8px 15px;
  width: 200px;
  margin-top: 30px;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}
#assignAccessModal .container button:hover {
  background-color: #ffffff;
  color: #4CAF50;
  cursor: pointer;
}
#assignAccessModal .container button:focus {
  outline: none;
}
#assignAccessModal .container input[type=datetime-local] {
  border: 2px solid #000000;
  padding: 8px 10px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 200px;
}
#assignAccessModal .container input[type=datetime-local]:focus {
  outline: none;
  border-color: #002361;
}
#assignAccessModal .container input[type=datetime-local]:disabled {
  background-color: #e9ecef;
}
#assignAccessModal .container .checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#assignAccessModal .container .checkbox-container input[type=checkbox] {
  margin-right: 10px;
}
#assignAccessModal .container .checkbox-container label {
  font-size: 16px;
}
#assignAccessModal .container .selection {
  display: flex;
  flex-direction: row;
}
#assignAccessModal .container .expiry {
  display: flex;
  flex-direction: row;
  width: 87%;
  justify-content: space-between;
  margin-top: 20px;
}

table {
  margin: 20px 50px;
  margin-top: 30px;
  width: calc(100% - 100px);
  border-collapse: collapse;
  border-radius: 5px;
  table-layout: fixed;
}
table th, table td {
  text-align: left;
  padding: 8px;
}
table th {
  background-color: #003594;
  color: #ffffff;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}

button.delete-btn {
  background-color: #e62b2f;
  border-color: #e62b2f;
  color: #ffffff;
  padding: 7px 15px;
  border: 2px solid #e62b2f;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 20px;
}
button.delete-btn:hover {
  background-color: #ffffff;
  color: #e62b2f;
  cursor: pointer;
}
button.delete-btn:focus {
  outline: none;
}

.footer {
  flex-shrink: 0;
  height: 30px;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
}
.footer p {
  margin-right: 50px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-weight: bold;
}

.expired {
  background-color: #ffcccc; /* light red */
}

.clickable {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */